---
name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      max-parallel: 1
      matrix:
        node: [ '20', '22', '24' ]
    name: node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm install -g bob@4
      - run: bob build
      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: .bob/coverage/c8/lcov.info
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .bob
